schemas/saml.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">
    <!-- Software Agent Markup Language, v0.1 -->
    <start>
        <element name="saml" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
            <attribute name="version">
                <data type="float"/>
            </attribute>

            <oneOrMore>
                <choice>
                    <ref name="triggerGroup"/>
                    <ref name="emotionsGroup"/>
                    <ref name="identityGroup"/>
                    <ref name="initGroup"/>
                </choice>
            </oneOrMore>
        </element>
    </start>

    <!-- [Group] Trigger -->
    <!--
        A trigger group can be initialized by either a <trigger> element directly,
        or grouped into <topic> and/or <emotion> elements for convenience.

        Triggers grouped into <topic> / <emotion> tags will automatically have the
        specified topic / emotion applied to all the contained triggers.
    -->
    <define name="triggerGroup">
        <choice>
            <oneOrMore>
                <ref name="trigger"/>
            </oneOrMore>

            <element name="emotion">
                <attribute name="name"/>
                <choice>
                    <oneOrMore>
                        <ref name="trigger"/>
                    </oneOrMore>

                    <element name="topic">
                        <attribute name="name"/>
                        <oneOrMore>
                            <ref name="trigger"/>
                        </oneOrMore>
                    </element>
                </choice>
            </element>

            <element name="topic">
                <attribute name="name"/>
                <choice>
                    <oneOrMore>
                        <ref name="trigger"/>
                    </oneOrMore>

                    <element name="emotion">
                        <attribute name="name"/>
                        <oneOrMore>
                            <ref name="trigger"/>
                        </oneOrMore>
                    </element>
                </choice>
            </element>
        </choice>
    </define>

    <!-- [Element] Trigger -->
    <define name="trigger">
        <element name="trigger">
            <interleave>
                <optional>
                    <ref name="trigger.topic"/>
                </optional>

                <optional>
                    <ref name="trigger.emotion"/>
                </optional>

                <ref name="trigger.pattern"/>

                <oneOrMore>
                    <ref name="trigger.response"/>
                </oneOrMore>

                <optional>
                    <ref name="trigger.limit"/>
                </optional>

                <optional>
                    <ref name="trigger.reaction"/>
                </optional>
            </interleave>
        </element>
    </define>

    <!-- [Attributes] Trigger -->
    <define name="trigger.topic">
        <element name="topic">
            <text/>
        </element>
    </define>

    <define name="trigger.emotion">
        <element name="emotion">
            <text/>
        </element>
    </define>

    <define name="trigger.pattern">
        <element name="pattern" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
            <optional>
                <attribute name="regex">
                    <data type="boolean"/>
                </attribute>
            </optional>

            <optional>
                <attribute name="normalize">
                    <data type="boolean"/>
                </attribute>
            </optional>

            <optional>
                <attribute name="substitute">
                    <data type="boolean"/>
                </attribute>
            </optional>

            <text/>
        </element>
    </define>

    <define name="trigger.response">
        <element name="response" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
            <optional>
                <attribute name="weight">
                    <data type="integer"/>
                </attribute>
            </optional>

            <zeroOrMore>
                <optional>
                    <text/>
                </optional>

                <ref name="tagsResponseGroup"/>

                <optional>
                    <text/>
                </optional>
            </zeroOrMore>

            <optional>
                <ref name="trigger.topic"/>
            </optional>

            <optional>
                <ref name="trigger.emotion"/>
            </optional>

            <optional>
                <ref name="trigger.limit"/>
            </optional>

            <optional>
                <ref name="trigger.reaction"/>
            </optional>

            <text/>
        </element>
    </define>

    <define name="trigger.limit">
        <element name="limit">
            <optional>
                <attribute name="unit">
                    <choice>
                        <value>seconds</value>
                        <value>minutes</value>
                        <value>hours</value>
                        <value>days</value>
                        <value>weeks</value>
                        <value>months</value>
                        <value>years</value>
                    </choice>
                </attribute>
            </optional>

            <optional>
                <attribute name="type">
                    <choice>
                        <value>global</value>
                        <value>user</value>
                    </choice>
                </attribute>
            </optional>

            <text/>
        </element>
    </define>

    <define name="trigger.reaction">
        <element name="reaction">
            <optional>
                <element name="topic">
                    <text/>
                </element>
            </optional>

            <optional>
                <element name="emotion" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
                    <element name="name">
                        <text/>
                    </element>
                    <element name="level">
                        <data type="integer"/>
                    </element>
                </element>
            </optional>
        </element>
    </define>

    <!-- [Group] Tags -->
    <!--
        Tags used to insert dynamic data into response strings.

        Random - Used to insert a random word into a response string
        Star - Used to insert trigger pattern wildcards into a response string
        Var - Used to insert a global / user variable into a response string
        Call - Inserts the returned value of an executed object into a response string
    -->
    <define name="tagsResponseGroup">
        <zeroOrMore>
            <choice>
                <ref name="tags.random"/>
                <ref name="tags.star"/>
                <ref name="tags.var"/>
                <ref name="tags.call"/>
            </choice>
        </zeroOrMore>
    </define>

    <!-- [Elements] Tags -->
    <define name="tags.random">
        <element name="random">
            <oneOrMore>
                <element name="i">
                    <text/>
                </element>
            </oneOrMore>
        </element>
    </define>

    <define name="tags.star">
        <element name="star" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
            <optional>
                <attribute name="index">
                    <data type="integer"/>
                </attribute>
            </optional>

            <optional>
                <attribute name="previous">
                    <data type="boolean"/>
                </attribute>
            </optional>
        </element>
    </define>

    <define name="tags.var">
        <element name="var">
            <optional>
                <attribute name="type">
                    <choice>
                        <value>global</value>
                        <value>user</value>
                    </choice>
                </attribute>
            </optional>

            <text/>
        </element>
    </define>

    <define name="tags.call">
        <element name="call">
            <optional>
                <attribute name="handler">
                    <text/>
                </attribute>
            </optional>

            <text/>
        </element>
    </define>

    <!-- [Group] Emotions -->
    <!--
        Emotions are defined once in a single <emotions> element. Any subsequent use of this
        element will overwrite the previous definition.

        Emotions are defined on three levels: primary, secondary and tertiary emotions.
    -->
    <define name="emotionsGroup">
        <element name="emotions">
            <oneOrMore>
                <ref name="emotions.primary"/>
            </oneOrMore>
        </element>
    </define>

    <!-- [Elements] Emotions -->
    <define name="emotions.primary">
        <element name="primary">
            <attribute name="name"/>

            <zeroOrMore>
                <ref name="emotions.secondary"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="emotions.secondary">
        <element name="secondary">
            <attribute name="name"/>

            <zeroOrMore>
                <ref name="emotions.tertiary"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="emotions.tertiary">
        <element name="tertiary">
            <attribute name="name"/>
        </element>
    </define>

    <!-- [Group] Identity -->
    <!--
        This element contains miscellaneous information about the Software Agent's identity,
        such as the name, nicknames, age (epoch) and gender.
    -->
    <define name="identityGroup">
        <element name="identity">
            <interleave>
                <ref name="identity.name"/>

                <zeroOrMore>
                    <ref name="identity.nickname"/>
                </zeroOrMore>

                <optional>
                    <ref name="identity.gender"/>
                </optional>

                <optional>
                    <ref name="identity.epoch"/>
                </optional>
            </interleave>
        </element>
    </define>

    <!-- [Elements] Identity -->
    <define name="identity.name">
        <element name="name">
            <text/>
        </element>
    </define>

    <define name="identity.nickname">
        <element name="nickname">
            <text/>
        </element>
    </define>

    <define name="identity.gender">
        <element name="gender">
            <choice>
                <value>male</value>
                <value>female</value>
                <value>neutral</value>
            </choice>
        </element>
    </define>

    <define name="identity.epoch">
        <element name="epoch" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
            <data type="integer"/>
        </element>
    </define>

    <!-- [Group] Init -->
    <!--
        Contains tasks to be executed once on startup, such as pre-defining
        global variables and substitutions.
    -->
    <define name="initGroup">
        <element name="init">
            <interleave>
                <zeroOrMore>
                    <ref name="init.var"/>
                </zeroOrMore>

                <zeroOrMore>
                    <ref name="init.substitute"/>
                </zeroOrMore>
            </interleave>
        </element>
    </define>

    <!-- [Elements] Init -->
    <define name="init.var">
        <element name="var">
            <text/>
        </element>
    </define>

    <define name="init.substitute">
        <element name="sub">
            <oneOrMore>
                <element name="old">
                    <text/>
                </element>
            </oneOrMore>

            <element name="new">
                <text/>
            </element>
        </element>
    </define>
</grammar>